@use "/src/styles/vars";

.container {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background-color: vars.$secondaryColor;
  padding-bottom: 10px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  & .player {
    max-width: 280px;
    max-height: 140px;
  }

  & .close-btn {
    align-self: auto;
  }
}
