@use "/src/styles/vars.scss";

.button {
  background-color: vars.$primaryLightColor;
  color: vars.$textColor;
  border: none;
  padding: 10px;
  border-radius: 4px;
  align-self: flex-start;
  font-size: 16px;

  &:hover {
    background-color: vars.$secondaryLightColor;
    cursor: pointer;
  }

  &:disabled {
    background-color: vars.$secondaryLightColor;
  }
}
