.nav {
  .container {
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

.container {
  .ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
