@use "/src/styles/vars.scss";

.loader-container {
  display: flex;
  justify-content: center;

  & .loader svg {
    fill: vars.$secondaryLightColor;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  text-align: left;

  & .input {
    background-color: vars.$secondaryLightColor;
    border: none;
    padding: 10px;
    border-radius: 4px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.444);
    }
  }
}
