@use "/src/styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  padding: 50px 20px;

  .ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .button {
    @include mixins.button;
  }
}
