@use "/src/styles/vars";

.form {
  .submit-btn {
    background-color: vars.$primaryColor;

    &:disabled {
      background-color: vars.$secondaryColor;
      color: vars.$primaryColor;
      cursor: not-allowed;
    }
  }
}
