@use "../styles/vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: vars.$primaryColor;
  color: vars.$textColor;
  font-family: var(--font-rubik);
}

button,
input,
textarea,
input::placeholder {
  font-family: var(--font-rubik);
}

a {
  &:link,
  &:visited {
    color: vars.$textColor;
    text-decoration: none;
  }

  &:hover {
    color: vars.$textHoverColor;
  }
}

ul {
  list-style-type: none;
}
