* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

a {
  &:link,
  &:visited {
    color: white;
    text-decoration: none;
  }

  &:hover {
    color: gray;
  }
}

ul {
  list-style-type: none;
}