@use "../sass/vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: vars.$primaryColor;
  color: vars.$textColor;
}

a {
  &:link,
  &:visited {
    color: vars.$textColor;
    text-decoration: none;
  }

  &:hover {
    color: vars.$textHoverColor;
  }
}

ul {
  list-style-type: none;
}
