@use "/src/styles/vars.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.767);
  backdrop-filter: blur(2px);

  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
